name: Main shareable workflow

on:
    workflow_call:

jobs:
    main:
        timeout-minutes: 5
        runs-on: ubuntu-latest
        steps:
            - name: Checkout the code
              uses: actions/checkout@v5
            - uses: pnpm/action-setup@v4
            - uses: actions/setup-node@v6
              with:
                  node-version-file: ".nvmrc"
                  cache: pnpm
            - name: Setup cache
              id: cache
              uses: actions/cache@v4
              with:
                  path: |
                      ./node_modules
                      ./turbo
                  key: ${{ runner.os }}-cache-${{ github.sha }}
                  restore-keys: |
                      ${{ runner.os }}-cache-
            - name: Install dependencies
              run: pnpm install --frozen-lockfile
            - name: Build
              run: pnpm build
            - name: Check (static analysis including linters, types, and commit message)
              run: pnpm check
            - name: Test
              run: pnpm test
